* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-photo {
    background-image: image(/home/lilly/Documents/pizza-place/images/spaghetti-g8ff97c3ff_1920.jpg);
    backgroung-size:cover;
    
}
